[Desktop Entry]
Name=FFADO Mixer
Comment=Audio mixer for Firewire devices
Exec=ffado-mixer
GenericName=Firewire audio mixer
Icon=ffado
Type=Application
Categories=Mixer;Audio;AudioVideo;HardwareSettings;Qt;
