admin/dbus.pyc
admin/pyuic.pyc
admin/pyuic4.pyc
admin/scanreplace.pyc
cache/
src/test-cyclecalc
src/test-dll
src/test-unittests-util
tests/scan-devreg
tests/test-avccmd
tests/test-devicestringparser
tests/test-dice-eap
tests/test-enhanced-mixer
tests/test-fw410
tests/test-ieee1394service
tests/test-ipcringbuffer
tests/test-messagequeue
tests/test-scs
tests/test-shm
tests/test-streamdump
tests/test-timestampedbuffer
.sconsign.dblite
admin/doxygen.pyc
admin/pkgconfig.pyc
config.h
config_debug.h
src/libffado.so
src/test-debugmodule
support/alsa/libasound_module_pcm_ffado.so
support/dbus/controlclient-glue.h
support/dbus/controlserver-glue.h
support/dbus/ffado-dbus-server
support/dbus/org.ffado.Control.service
support/dbus/test-dbus
support/dbus/test-dbus-server
support/firmware/ffado-bridgeco-downloader
support/firmware/ffado-fireworks-downloader
support/mixer-qt4/ffado-mixer
support/mixer-qt4/ffado-mixer-profiler
support/mixer-qt4/ffado/config.py
support/tools/ffado-diag
support/tools/ffado_diag_helpers.pyc
support/tools/static_info.txt
tests/dumpiso_mod
tests/ffado-test
tests/streaming/ffado-test-streaming
tests/streaming/ffado-test-streaming-ipc
tests/streaming/ffado-test-streaming-ipcclient
tests/systemtests/ffado-test-isorecv
tests/systemtests/ffado-test-isoxmit
tests/systemtests/gen-loadpulses
tests/systemtests/test-clock_nanosleep
tests/systemtests/test-sysload
tests/test-bufferops
tests/test-echomixer
tests/test-focusrite
tests/test-volume
tests/test-watchdog
tests/unmute-ozonic
version.h
*.o
*.os
